@page
@model GPU.Pages.GPUs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GPU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GPU.Brand" class="control-label"></label>
                <input asp-for="GPU.Brand" class="form-control" />
                <span asp-validation-for="GPU.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU.Model" class="control-label"></label>
                <input asp-for="GPU.Model" class="form-control" />
                <span asp-validation-for="GPU.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU.ReleaseYear" class="control-label"></label>
                <input asp-for="GPU.ReleaseYear" class="form-control" />
                <span asp-validation-for="GPU.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU.MemoryInMB" class="control-label"></label>
                <input asp-for="GPU.MemoryInMB" class="form-control" />
                <span asp-validation-for="GPU.MemoryInMB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU.Price" class="control-label"></label>
                <input asp-for="GPU.Price" class="form-control" />
                <span asp-validation-for="GPU.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU.LaunchDate" class="control-label"></label>
                <input asp-for="GPU.LaunchDate" class="form-control" />
                <span asp-validation-for="GPU.LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
