@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To GPU-DataBase!</h1>
    <p>Here, we collect data on all Gpu's submit to us and share it in one convenient place for you!</p>
</div>
